.blog-content {
  max-width: 900px;
  min-width: 100px;

  .highlight {
    pre {
      padding: 16px;
      border-radius: 8px;
    }
  }

  h2 {
	margin-top: 3rem;
	margin-bottom: 1rem;
	color: $primary;
  }

  h3 {
	margin-top: 2rem;
	color: $danger;
	font-size: inherit;
	font-weight: 600;
  }


  h4 {
	font-size: inherit;
	font-weight: bold;
	margin-top: 2rem;
  } 

  div.footnotes {
	margin-top: 5rem;
	filter: opacity(60%);
  }
}
