.section.hero {
  .hero-image {
    // @media (min-width: 1400px) {
    //   img {
    //     max-width: 125%;
    //     float: right;
    //   }
    // }
  }

  @media (max-width: 400px) {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
  }

  .hero-title {
    strong {
      color: $danger;
    }
  }
}
